DATABASE_HOST=localhost
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=6000

MONGODB_USERNAME=mongodb
MONGODB_PASSWORD=mongodb

JWT_SECRET_KEY=jwtsecretkey

SOLID_QUEUE_IN_PUMA=true

SWAGGER_SERVER_URL=http://localhost:3000
